.popupContainer {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 44%;
    left: 44%;
    right: 0;
    bottom: 0;

}

.popupBody {
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}