.head {
    grid-area: h;
    background-image: linear-gradient(to right, cornflowerblue, rgb(236, 96, 255));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 9fr 100px;
}

.head img {
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.title h2 {
    color: #1d351e;
    text-align: left;
    font-size: 20pt;
    font-family: Bradley Hand;
}

.login a {
    font-weight: bold;
}