.head {
    grid-area: h;
    height: 75px;
    background-image: linear-gradient(to right, rgba(50, 53, 255, 0.671), rgb(236, 96, 255));
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.head img {
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.title h2 {
    color: #1d351e;
    text-align: left;
    font-size: 20pt;
    font-family: Bradley Hand;
}