.nav {
  grid-area: n;
  background-image: linear-gradient(to right, cornflowerblue, rgb(125, 139, 240));
  border-radius: 10px;
  padding: 10px;
}

.link {
  font-family: Bradley Hand;
  font-size: 16pt;
  margin-bottom: 5px;
}

.link a {
  color: lavender;
  text-decoration: none;
}

.link a.active {
  color: gold;
}

.friendsBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav h2 {
  margin-top: 100px;
  font-family: Bradley Hand;
  font-size: 18pt;
  text-align: center;
}

.imgsBlock {
  text-align: center;
}

.friendBlock img {
  width: 30px;
  height: 30px;
  background-color: gold;
  border-radius: 50%;
  margin-right: 5px;
}